
body {
   color: #333;
   font: .8em tahoma, arial, normal;
   background: #d4d4d4 url('http://st.kp.yandex.net/images/noBrandBg.jpg') 50% 0 no-repeat;
   width: 80%;
   margin: 0  auto;
   padding: 1em;
   min-width: 400px;
}
input[type=search] {
        font-size: 1em;
        padding: .5em;
        border: none;
}
.search button:hover {
        background: #ccc;
}
button {
        font-size: 1em;
        cursor: pointer;
        border: none;
        background: #ddd;
        padding: .5em 1em;
}
.fa {
  color: #8e8e8e;
}
img {
  height: 25em;
  padding: 0 1em 0 0;
}
header, footer {
  color: #8e8e8e;
}
footer a {
  font-size: 1em;
}
header h1 {
  color: white;
  text-shadow: .1em .1em #4a4a4a;
  font-size: 2.5em;
  font-weight: bold;
}
h1 {
   font-size: 1.3em;
   font-weight: normal;
}
a {
   text-decoration: none;
   color: inherit;
}
section h1 {
  color: inherit;
}
figcaption {
  font-size: .9em;
  margin: 0;
}
a:hover, h1 {
  color: #f60;
}
ul {
  -webkit-padding-start: 1em;
  list-style-type : none;
  color: inherit;
}
div.film-names {
    background: linear-gradient(white, lightgrey);
    border-left: 4px solid #f60;
    padding: .1em 1.5em;
    font-size: 1.3em;
    margin: 0;
}
header {
  background:  linear-gradient(to bottom, #525252 65%, #4b4948 35%); /*linear-gradient(#8e8e8e, #1b1a1a);*/
  padding: 1em;
  border-width: inherit;
  border-radius: 1em 1em 0em 0em;
}
.menubar ul {
  display: flex;
  margin: auto;
}
li {
  flex-grow: 1;
  text-align: center;
  color: white;
}
/*li:hover {
  background: #ccc;
}*/
.main-columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
main {
  flex: 3;
  justify-content: space-around;
}
aside {
  flex: 1;
  justify-content: space-around;
}
main, aside {
  margin: 2em;
  background: white;
  border-width: inherit;

}
blockquote, figure {
  margin: 0;
  padding-top: 1em;
}
form {
  display: flex;
}
.main-header {
  display: flex;
}
div.search {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
}



footer {
  background: #4b4948;
  border-radius: 0em 0em 1em 1em;
}
header, footer, aside, main {
    box-shadow: 0 0 1em rgba(82, 82, 82, 1);
    margin: 1em 1em;
}
.description, footer, .film-footer, .search-request {
  padding: 1em;
}
main .description {
  display: flex;
}
footer > a:before {
	float: left;
	content: ' ';
	border-left: 0.7em solid transparent;
	border-right: 0.7em solid transparent;
	border-bottom: 1em solid currentColor;
}
