body {
  background: #d4d4d4;
  color: #333;
  font: .9em tahoma, verdana, arial normal;
  margin: 0;
}
button {
        font-size: 1em;
        cursor: pointer;
        border: none;
        background: #ddd;
        padding: .5em 1em;
}
img {
  width: 100%;
  height: auto;
}
input[type=search] {
        font-size: 1em;
        padding: .5em;
        border: none;
}
.search button:hover {
        background: #ccc;
}
.fa {
  color: #8e8e8e;
}
header, footer {
  color: #8e8e8e;
}
footer a {
  font-size: 1em;
}
header h1 {
  color: white;
  text-shadow: .1em .1em #4a4a4a;
  font-size: 2.5em;
  font-weight: bold;
}
h1 {
   font-size: 1.3em;
   font-weight: normal;
}
a {
   text-decoration: none;
   color: inherit;
}
section h1 {
  color: inherit;
}
figcaption {
  font-size: .9em;
  margin: 0;
  text-align: center;
}
a:hover, h1 {
  color: #f60;
}
div.film-names {
    background: linear-gradient(white, lightgrey);
    border-left: 4px solid #f60;
    padding: .1em 1.5em;
    font-size: 1.3em;
    margin: 0;
}
header {
  background: #4b4948;  /*linear-gradient(to bottom, #525252 65%, #4b4948 35%);*/
  border-width: inherit;
  border-radius: 1em 1em 0em 0em;
}
main, aside {
  margin: 2em;
  background: white;
  border-width: inherit;
}
blockquote, figure {
  margin: 0;
  padding-top: 1em;
}
footer {
  background: #4b4948;
  border-radius: 0em 0em 1em 1em;
}
header, footer, aside, main {
    box-shadow: 0 0 1em rgba(82, 82, 82, 1);
    margin: 1em 1em;
}
.description, footer, .film-footer, .search-request {
  padding: 1em;
}
/* video */
.video-box {
  width: inherit;
  background-color: lightgrey;
  margin: 1em;
}
video {
  width: 96%;
  height: 25rem;
  padding: 1em;
}
iframe {
  width: 96%;
  height: 25rem;
  padding: 1em;
}

/* table */
table {
  width: 100%;
  text-align: center;
  padding: 1em;
}
thead {
  background-color: #f60;
  color: white;
}
tbody {
  background-color: #ffc8aa;
}

/* form */
form {
  display: flex;
}
form.comment-box {
  width: auto;
  display: block;
  padding: 1em;
  border: 1em solid white;
  background-color: lightgrey;
}
span.required {
  color: red;
}
label, .comment-box input, textarea {
  display: block;
  width: 100%;
}
textarea {
  height: 10em;
  resize: none;
}

.main-header {
  text-align: center;
  padding: 1em;
}
div.search {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
}
/* menu */
.main-menu {
  padding: 1em;
  background: #8e8e8e;
}
ul {
  list-style-type : none;
  color: white;
  margin: auto;
  padding: 0;
}
li {
  text-align: center;
  padding: 1em;
}

/* tooltip */
abbr[data-tooltip] {
  position: relative;
  cursor: help;
}
abbr[data-tooltip]:before,
abbr[data-tooltip]:after {
  visibility: hidden;
}
abbr[data-tooltip]:before {
  position: absolute;
  top: 80%;
  left: 0;
  content: '';
	border-left: 0.7em solid transparent;
	border-right: 0.7em solid transparent;
	border-bottom: 1em solid #f60;
}
abbr[data-tooltip]:after {
  position: absolute;
  top: 160%;
  left: -40%;
  background-color: #f60;
  content: attr(data-tooltip);
  text-align: center;
  text-shadow: .1em .1em #4a4a4a;
  color: white;
  font-size: 1em;
  padding: 1em;
  border-radius: 1em;
  width: 10em;
}
abbr[data-tooltip]:hover:before,
abbr[data-tooltip]:hover:after {
  visibility: visible;
}

/* desktop */
@media screen and (min-width: 500px) {
body {
   color: #333;
   font: .8em tahoma, arial, normal;
   background: #d4d4d4 url('http://st.kp.yandex.net/images/noBrandBg.jpg') 50% 0 no-repeat;
   width: 80%;
   margin: 0  auto;
   padding: 1em;
   min-width: 500px;
}
header h1:hover, .film-names a:hover {
  filter: blur(0.1em);
}
/* menu */
.menubar ul {
  display: flex;
}
img {
  height: 25em;
  width: auto;
  padding: 0 1em 0 0;



}
/* animation */
img:hover {
  cursor: zoom-in;
  animation: combo-animation 5s 2 /*infinite*/ alternate;

}
@keyframes combo-animation {
  0% {
    transform: skewX(10deg) skewY(-10deg) rotateX(0);
    filter: saturate(0);
  }
  15% {
    transform: skewX(-10deg) skewY(10deg) rotateX(180deg);
  }
  30% {
    transform: skewx(10deg) skewY(-10deg) rotateY(0);
  }
  45% {
    transform: skewX(-10deg) skewY(10deg) rotateY(180deg);
  }
  60% {
    transform: skewX(10deg) skewY(-10deg) rotateZ(0);
  }
  70% {
    transform: rotateZ(-45deg);
  }
  85% {
    transform: rotateZ(180deg);
  }
  100% {
      transform: rotateZ(15deg) scale(1.5);
      filter: saturate(200%);
  }
}

li {
  flex-grow: 1;
  color: white;
}
.main-columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
main {
  flex: 3;
  justify-content: space-around;
}
aside {
  flex: 1;
  justify-content: space-around;
}
.main-header {
  display: flex;
}
main .description {
  display: flex;
}
footer > a:before {
	float: left;
	content: '';
	border-left: 0.7em solid transparent;
	border-right: 0.7em solid transparent;
	border-bottom: 1em solid currentColor;
}

}
